server {
    listen       443 ssl;
    server_name  localhost;
    charset utf-8;
   
    #ssl证书
    ssl_certificate   ssl/server.crt;       
    ssl_certificate_key  ssl/server.key;

    location / {
    root   html;
    try_files $uri $uri/ /index.html;
    index  index.html index.htm;
    }
        
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
       root   html;
    }
}

server{
    listen 443 ssl;
    ssl_certificate /home/ubuntu/cert/cert.pem;
    ssl_certificate_key /home/ubuntu/cert/key.pem;
    charset utf-8;
    #ip地址或者域名
    server_name 101.42.12.250;
    location / {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' '*';
        add_header 'Access-Control-Allow-Headers' 'Origin, X-Requested-With, Content-Type, Accept';

        #web页面所在目录
        root /home/ubuntu/webrtc/node/client;
        index index.html;
    }
}

map $http_upgrade $connection_upgrade{
    default upgrade;
    '' close;
}

server{
    listen 8098;
    #ssl on;
    ssl_certificate /home/ubuntu/cert/cert.pem;
    ssl_certificate_key /home/ubuntu/cert/key.pem;

    server_name 101.42.12.250;
    location /ws{
        proxy_pass http://101.42.12.250:8099;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
    }
}

server {
    listen 80 default_server;
    server_name _;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name 101.42.12.250;

    ssl_certificate /home/ubuntu/cert/cert.pem;
    ssl_certificate_key /home/ubuntu/cert/key.pem;

    location /ws {
        proxy_pass http://101.42.12.250:8099/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
    }
}

server {
    listen 6666;
    server_name 101.42.12.250;

    location / {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' '*';
        add_header 'Access-Control-Allow-Headers' 'Origin, X-Requested-With, Content-Type, Accept';
        root /home/ubuntu/webrtc/node/client;
        index index.html;
    }
}


[Unit]
Description=nginx web service
Documentation=http://nginx.org/en/docs/
After=network.target

[Service]
Type=forking
PIDFile=/usr/local/nginx/logs/nginx.pid
PIDFileExecStartPre=/usr/local/nginx/sbin/nginx -t -c /usr/local/nginx/conf/nginx.conf
ExecStart=/usr/local/nginx/sbin/nginx
ExexReload=/usr/local/nginx/sbin/nginx -s reload 
ExecStop=/usr/local/nginx/sbin/nginx -s stop
PrivateTmp=true

[Install]
wantedBy=default.target
